
_ReSharper.*
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.sdf
*.opensdf
~$*

include/

/obj
/bin
/debug
*/obj
*/bin
*/debug
*/*/obj
*/*/bin
*/*/debug
*/*/*/bin
*/*/*/obj
*/*/*/debug