
_ReSharper.*
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.sdf
*.opensdf
~$*

include/

/obj
/bin
/debug
/release
*/obj
*/bin
*/debug
*/release
*/*/obj
*/*/bin
*/*/debug
*/*/release
*/*/*/bin
*/*/*/obj
*/*/*/debug
*/*/*/release
/lib